*{
  margin:0px;
  padding:0px;
}


header{
  height: 180px;
  background-color: #2a2a2b;
  color: white;
}
nav ul {
  list-style: none;
  display: grid;
  height:180px;
  grid-template-columns: repeat(6,1fr);
}
nav ul li{
  justify-self: center;
  align-self: center;
}



 /* Section 1 Styles */


#section-1{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 812.41px;
  position: relative;

}

#section1-header{
  position: absolute;
  height: 100px;
  width:400px;
  left:50%;
  margin-left:-200px;
  top:40px;
  font-size: calc(26px + (30 - 26) * (100vw - 350px)/ (1300 - 350));
  font-weight: bold;
  font-family: Mija;
  letter-spacing: -1px;
  text-align: center;
}

#section1-header p{
  display: inline-block;
  background-color: white;
  padding:5px;
}
.darkGray{
  background-color: #26262e;
}

.lightGray{
  background-color: #323245;
}
.lightGrayShade1{
  background-color: #363642;
}

.lightGrayShade2{
  background-color: #4e4e59;
}

.lightGrayShade3{
  background-color: #555569;
}

.section1-part{
  height:812.41px;
}
.section1-part-content{
  width:60%;
  margin:auto;
  font-family: Elena;
  font-size: 50px;
  margin-top:300px;
  color:white;
}
.section1-part-content span{
  font-family: Elena;
  font-size: 20px; 
}

#section-2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 519px 600px;
  grid-template-areas: 
  "header header header"
  "item1 item2 item3";
}
.article-link{
  padding:20px;
  font-size: 20px;
}
.article-link h1{
  text-decoration: underline;
  margin-top: 50px;
}
#section-2 div:nth-child(1){
  grid-area: header;
}
#section-2 div:nth-child(2){
  grid-area: item1;
}
#section-2 div:nth-child(3){
  grid-area: item2;  
}
#section-2 div:nth-child(4){
  grid-area: item3;
}
#section-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 650px 570px;
  grid-template-areas: 
  "item1 item2 item2"
  "item3 item4 item5";
}
#section-3 div:nth-child(1){
  grid-area: item1;
}
#section-3 div:nth-child(2){
  grid-area: item2;
}
#section-3 div:nth-child(2) p {
  
}

#section-3 div:nth-child(3){
  grid-area: item3;
}
#section-3 div:nth-child(4){
  grid-area: item4;
}
#section-3 div:nth-child(5){
  grid-area: item5;
}
#friend-website{
  height:277px;
  width:247px;
  background-color: white;
  margin: auto;
  margin-top:50px;
}