* {
  margin: 0;
  padding: 0;
}

header {
  height: 180px;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  height: 180px;
}

nav ul li {
  align-self: center;
}

nav ul li button {
  padding: 10px;
  border-radius: 5px;
  width: 132px;
  height: 52px;
  border: 2px solid white;
  color: white;
}

/* Section 1 Styles */

.profile {
  height: 75px;
  width: 75px;
  border: 5px solid white;
  border-radius: 5px;
}

#section-4 .profile {
  position: absolute;
  left: 20px;
}

.darkGray {
  background-color: #242424;
}

.darkGray1 {
  background-color: #222;
}

.darkGray2 {
  background-color: #202020;
}

.darkGray3 {
  background-color: #1e1e1e;
}

.lightGray {
  background-color: #808080;
}

.lightGray1 {
  background-color: #8f8f8f;
}

.lightGray2 {
  background-color: #919191;
}

.lightGray3 {
  background-color: #939393;
}

.section1-part {
  height: 812.41px;
}

.section1-part-content {
  width: 60%;
  margin: auto;
  font-family: Spinnaker, sans-serif;
  font-size: 50px;
  margin-top: 150px;
  color: white;
}

.section1-part-content span {
  font-family: Karla, sans-serif;
  font-size: 20px;
}

.article-link {
  padding: 20px;
  font-size: 20px;
  color: white;
}

.article-link h1 {
  font-family: Karla, sans-serif;
  text-decoration: underline;
  margin-top: 50px;
}

/* Section 4 Styles */

.articles-link-header {
  height: 183.88px;
  text-align: center;
}

.articles-link-header p {
  margin-top: 70px;
  display: inline-block;
  border-bottom: 5px solid #d33a2c;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 100;
  font-family: 'Spinnaker', sans-serif;
}

.section4-part {
  color: white;
  position: relative;
}

.cat {
  display: block;
  width: 256px;
  height: 288px;
  margin: auto;
}

.section4-part div {
  width: 80%;
  margin-left: 20%;
  margin-top: 120px;
}

.section4-part div h1 {
  font-size: 34px;
  font-family: 'Spinnaker', sans-serif;
}

.section4-part div p {
  font-size: 20px;
  font-family: 'Spinnaker', sans-serif;
  margin-top: 20px;
}

#section-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 812.41px;
  position: relative;
}

#section1-header {
  position: absolute;
  height: 100px;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  top: 40px;
  font-size: calc(26px + (30 - 26) * (100vw - 350px) / (1300 - 350));
  font-weight: bold;
  font-family: 'Spinnaker', sans-serif;
  letter-spacing: -1px;
  text-align: center;
}

#section1-header p {
  display: inline-block;
  background-color: white;
  padding: 5px;
}

#section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 600px;
  grid-template-areas: "item1 item2 item3";
}

#person-of-week .profile {
  width: 286px;
  height: 286px;
  float: left;
  margin-right: 50px;
}

#coming-event {
  height: 1039px;
  text-align: center;
}

#person-of-week {
  height: 346px;
}

#section-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 414px);
}

#section-5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 425px 400px 1000px;
  grid-template-areas: "item1 item1 item1" "item2 item3 item4" "item5 item6 item6";
}

#section-5 article:nth-child(1) {
  grid-area: item1;
}

#section-5 article:nth-child(1) img {
  float: right;
}

#section-5 article:nth-child(2) {
  grid-area: item2;
}

#section-5 article:nth-child(3) {
  grid-area: item3;
}

#section-5 article:nth-child(4) {
  grid-area: item4;
}

#section-5 article:nth-child(5) {
  grid-area: item5;
}

#section-5 article:nth-child(6) {
  grid-area: item6;
  text-align: center;
}

#footer {
  text-align: center;
  height: 733px;
  padding-top: 80px;
}

#footer p {
  font-size: 0.9em;
  line-height: calc(1.3em + (1.5 - 1.3) * ((100vw - 21em) / (35 - 21)));
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
}

#footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px auto 0 auto;
  font-size: calc(1.3em + 0.2vw);
  line-height: calc(1.5em + 0.2vw);
  width: 80%;
}

#footer ul li a {
  text-decoration: none;
  position: relative;
  color: white;
  left: -12px;
}

#footer ul li {
  color: white;
  margin-right: 20px;
  padding: 10px;
}

#section-2 article:nth-child(1) {
  grid-area: item1;
}

#section-2 article:nth-child(2) {
  grid-area: item2;
}

#section-2 article:nth-child(3) {
  grid-area: item3;
}

#section-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 650px 570px;
  grid-template-areas: "item1 item2 item2" "item3 item4 item5";
}

#section-3 article:nth-child(1) {
  grid-area: item1;
}

#section-3 article:nth-child(2) {
  grid-area: item2;
}

#section-3 article:nth-child(3) {
  grid-area: item3;
}

#section-3 article:nth-child(4) {
  grid-area: item4;
}

#section-3 article:nth-child(5) {
  grid-area: item5;
}

#friend-website {
  height: 277px;
  width: 247px;
  margin: auto;
  margin-top: 50px;
  color: white;
}